html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 100%;
    padding: 10px;
    vertical-align: top;
    background: rgb(60, 60, 60);
    position: fixed;
    border-radius: 10px;
}
body{
    background-color: rgb(80, 80, 80);
}
.title{
	font-size: 36px;
	padding-left: 10px;
    width: 140px;
	text-align: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 5px;
}

.menu{
	display: inline-block;
    vertical-align: top;
}

button:hover{
    box-shadow: 0px 0px 20px white;
}

button:active{
    filter: brightness(110%);
}

.row{
    margin-top: 10px;
    text-align: center;
}

input[type="checkbox"]:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
}