.sign-in{
    background-color: rgb(160, 90, 228);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.auth{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    position: absolute;
    right: 5%;
    top: 20%;
}

.row1{
    text-align: center;
}

.row2{
    text-align: right;
}
.auth-bars{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    color: rgb(160, 90, 228);
    border: none;
    transition: 0.25s;
}

.auth-bars:hover{
    box-shadow: 0px 0px 20px white;
}

.auth-bars:active {
    filter: brightness(110%);
}
.sign-up-bar{
    display: inline-block;
    margin-left: 10px;
}
.sign-up{
    background-color: rgb(160, 90, 228);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.25s;
}
.p{
    color: white;
}
.recovery{
    background-color: rgb(160, 90, 228);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.25s;
}