.bg{
    position: absolute;
    top: 10%;
    left: 2%;
}
.genres{
    color: white;
    text-align: left;
}
.hobby{
    padding-left: 10px;
    width: 100%;
    background-color: rgb(80, 80, 80);
    color: white;
    border-radius: 8px;
    border: none;
}
.intereses{
    vertical-align: top;
    display: inline-block;
    margin-left: 30px;
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    font-size: 24px;
}
.bottom{
    position: absolute;
    bottom: 5%;
    margin-left: 45%;
}
.save{
    background-color: rgb(160, 90, 228);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.25s;
}
.intereses{
    color: white;
}