.bg{
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    position: absolute;
    top: 20%;
    right: 30%;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}
.profile-image{
    background-color: white;
    padding: 4px;
    border-radius: 15%;
    border: solid rgb(160, 90, 228);
    border-width: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.main-info{
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
}
.names{
    color: white;
    font-weight: bold;
    font-size: 32px;
}
.details-fields{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 100%;
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
}
button{
    background-color: rgb(160, 90, 228);
    border: none;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}