.fio{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    color: rgb(160, 90, 228);
    font-weight: bold;
    font-size: 16px;
    border-radius: 16px;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
}
input::placeholder{
    color: white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 80px rgb(160, 90, 228);
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: rgb(60, 60, 60);
}
.date-lable{
    color: white;
    font-weight: bold;
    text-align: center;
}
.date-of-birth{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
}
.row{
    margin-top: 10px;
    text-align: center;
}

.gender{
    text-align: left;
    padding-right: 6px;
}

.birth{
    display: inline-block;
}
.p1{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.p2{
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}
.log{
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    color: rgb(160, 90, 228);
    font-weight: bold;
    font-size: 16px;
    border-radius: 16px;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
}
.bg{
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    position: absolute;
    top: 25%;
    right: 30%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.signs{
    background-color: rgb(160, 90, 228);
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: 0.25s;
}